/* General styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightcoral;
}

h1 {
    color: #333;
}

/* Container for all songs */
#songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

/* Individual song container */
.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

/* Styling for images */
img {
    width: 200px;
    height: 200px;
    object-fit: cover;

}

/* Styling for the song title text */
p {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
}

.link:visited{
    color: red;
}

.link:hover{
    color: purple;
}


